<a href="https://colab.research.google.com/github/amabro/PythonAdam/blob/master/LessontwoCondition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Statements

Conditional tests

equals: x == 72

Not equal: x != 72

greater than:x > 72

greater than or equal to: x >=72

less than: x < 72

less than or equal to: x <= 72

In [0]:
# Example
x = 92
print(x<=72)

False

In [4]:
# A simple if test
age = 15
if age >= 17:
  print("you can drive!")
else:
  print("sorry, you can't drive!")

sorry, you can't drive!

In [7]:
# Use of user input
age = int("What is your age in years, please?")

if age >= 18:
  print("You can watch a movie")
elif age <=18 and age >=12:
  print("You need to have someone with you above 18 to watch the movie")
else:
  print("Sorry, you cant watch movie")

What is your age in years, please?14 
You need to have some one with you above 18 to watch the movie

SyntaxError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 61

**While Loop**In the while loop we can execute a set of statements as long as a condition is true

In [10]:
i = 1
while i < 5:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4

In [11]:
# With the continue statement we can stop the current iteration and continue with the next

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

For Loop

A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, a set, or a string).
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [12]:
cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  print(x)

bmw
audi
mercedes
honda
toyota
kia

In [13]:
# Looping through string

for x in "mercedes":
  print(x)

m
e
r
c
e
d
e
s

In [14]:
# Break Statement

Cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  print(x)
  if x == "honda":
    break

bmw
audi
mercedes
honda

In [16]:
# Continue statement

Cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  if x == "mercedes":
    continue
 print(x)

IndentationError: ignored

In [15]:
# Range function
for x in range(6):
  print(x)

0
1
2
3
4
5
ERROR! Session/line number was not unique in database. History logging moved to new session 68

In [16]:
for x in range(3, 6):
 print(x)

3
4
5
ERROR! Session/line number was not unique in database. History logging moved to new session 69

In [0]:
# Else in For Loop
for x in range()
 print(x)
else:
  print("Finally finished")

In [17]:
# Nested Loop

Cars = ["bmw"]

cars = ["bmw", "audi", "mercedes"]
bikes = ["yamaha", "Kawasaki", "ducati"]

for x in cars:
  for y in bikes:
    print(x, y)

bmw yamaha
bmw Kawasaki
bmw ducati
audi yamaha
audi Kawasaki
audi ducati
mercedes yamaha
mercedes Kawasaki
mercedes ducati
ERROR! Session/line number was not unique in database. History logging moved to new session 70