<a href="https://colab.research.google.com/github/amabro/PythonAdam/blob/master/TheclassofAilessontwoSTRINGVARIABLELISTTUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("welcome to the class of AI")

welcome to the class of AI

In [4]:
msg = "we are learning python's basic commands"
print(msg)

we are learning python's basic commands

In [7]:
first_msg = "welcome to the class of AI."
second_msg = "AI is some times called machine intelligence" 

final_msg = first_msg + second_msg
print(final_msg)

welcome to the class of AI.AI is some times called machine intelligence

**List: Important topic**

In [8]:
cars = ['bmw', 'audi', 'toyota', 'tesla',]
print(cars)

['bmw', 'audi', 'toyota', 'tesla']

In [12]:
# Get the first item of the list
cars[2]

'toyota'

In [17]:
# Get the last item of the list
cars[-1]

'tesla'

**Can use Looping method**

In [20]:
# Looping through a list
for car in cars:
  print(car)

bmw
audi
toyota
tesla

In [21]:
# Adding item to a list
bikes = []
print(bikes)

[]

In [22]:
bikes.append('Royal Enfield')
bikes.append('Honda')
print(bikes)

['Royal Enfield', 'Honda']

In [23]:
bikes.append(['Yamaha', 'Kawasaki'])
print(bikes)

['Royal Enfield', 'Honda', ['Yamaha', 'Kawasaki']]
ERROR! Session/line number was not unique in database. History logging moved to new session 60

In [25]:
print(bikes[2][1])

Kawasaki

In [26]:
# Making Numerical List
power = []
for x in range(1,11):
  power.append(x**2)

  print(power)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
power = []
power = [x**3 for x in range(1,15)]
print(power)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [29]:
# Slicing a list
power[2:7]

[27, 64, 125, 216, 343]

In [30]:
# Copy a list
power_copy = power[:]
print(power_copy)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

**Tuples**

Tuples are similar to list but the items in a tuple cannot be modified. You can however convert the tuple into a list and convert the list back into a tuple. Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [31]:
dim = (2,3)
print(dim)

(2, 3)

In [34]:
thistuple = ('apple', 'banana', 'cherry')
print(thistuple[0])

apple

Note to self - no square brackets

In [0]:
# Now lets change tuple to list
x = list(thistuple)

In [37]:
print(x)

['apple', 'banana', 'cherry']

In [39]:
x[0] = 'mango'
print(x)

['mango', 'mango', 'cherry']